.fof {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.fof__title {
  font-size: 5rem;
  font-weight: 900;
}

.fof__btn {
  cursor: pointer;
  font-weight: 600;
  border-radius: 8px;
  background-color: #2075fe;
  color: white;
  border: none;
  padding: 0.8rem 1rem;
}

.fof__link {
  color: inherit;
}

.fof__btn:hover {
  background-color: #3582fc;
}
